// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Poppins', sans-serif;
@black: #000000;
@white: #ffffff;
@darkblue: #0F75BC;
@lightblue: #2FA0EE;
@green: #00CE37;
@darkgray: #3F3F3F;
@lightgray: #939598;
@lightbg: #F4F4F4;

/* --------------------------------------------------------------
CHECKOUT PAGE BOOTSTRAP CORRECTIONS
-------------------------------------------------------------- */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

/* --------------------------------------------------------------
ARCHIVE SHOP
-------------------------------------------------------------- */
.post-type-archive-product {
    background: @lightbg;
}

.woocommerce-products-header {
    text-align: center;
    padding: 4rem 1rem;
    padding-bottom: 2rem;
}

.custom-woocommerce-nav-container {
    padding-top: 3rem;

    & .nav {
        & .nav-link {
            color: @lightgray;
            border: 3px solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom: 1px;
            padding: 1.5rem 3.5rem;
            background: @white;
            margin: 0 3px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 1px;

            &:hover {
                background: @darkblue;
                color: @white;
            }
        }

        & .active {
            background: @darkblue;
            color: @white;
        }
    }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    color: @lightgray;
    position: relative;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 2rem;

    &:before {
        content: '';
        position: absolute;
        background: @darkblue;
        top: -10px;
        left: 0;
        width: 40px;
        height: 3px;
    }
}

/* --------------------------------------------------------------
SINGLE PRODUCT
-------------------------------------------------------------- */
.single-product {
    & .woocustom-main-container {
        padding: 3rem 0;
    }

    & .custom-nav {
        padding-top: 2rem;
        border-bottom: 1px solid @lightgray;

        & .nav-link {
            color: @lightgray;
            border: 1px solid @lightgray;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom: 1px;
            padding: 1rem 2rem;
            background: @white;
            margin: 0 3px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 1px;

            &:hover {
                background: @darkblue;
                border-color: @darkblue;
                color: @white;
            }
        }

        & .active {
            background: @darkblue;
            border-color: @darkblue;
            color: @white;
        }
    }

    & .custom-tab-content {
        & .tab-pane {
            padding: 2.5rem;
            font-size: 1.2rem;
            color: @lightgray;
            line-height: 2rem;
        }

        & .tab-pane-specs {
            font-size: 1.1rem;
            line-height: 1.8rem;

            & h2 {
                color: @white;
                background: @darkblue;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 1.3rem 1rem;
                margin-bottom: 1rem;
            }

            & .table-custom {
                & th {
                    text-align: center;
                    border: 0;
                    padding: 0.2rem;

                    & strong {
                        background: @darkblue;
                        color: @white;
                        width: 100%;
                        display: block;
                        padding: 1.2rem 0.5rem;
                    }
                }

                & td {
                    text-align: center;
                    border: 0;
                    padding: 1rem 0.2rem;
                }
            }
        }
    }
}


.woocommerce div.product .product_title {
    color: @darkgray;
    margin: 1.5rem 0;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;

    &:after {
        content: '';
        position: absolute;
        background: @darkblue;
        bottom: -30px;
        left: 0;
        width: 40px;
        height: 3px;
    }
}

.custom-woocommerce-backlink {
    color: @darkblue;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    display: inline-block;
    text-transform: uppercase;

    & .chevron {
        display: inline-block;
        font-size: 1.8rem;
        line-height: 1.1rem;
        vertical-align: middle;
        margin: 0;
        margin-right: 5px;
    }

    & .backlink-text {
        text-decoration: underline;
        font-weight: 600;
    }
}

.custom-woocommerce-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 2.5rem;

    & li {
        display: inline-block;

        &:nth-child(1) {
            &:after {
                content: '>';
                font-size: 1.2rem;
                vertical-align: middle;
                margin: 0 4px;

            }
        }

        & a {
            text-transform: uppercase;
            font-weight: 400;
            color: @lightgray;
        }
    }
}

.custom-social-share {
    color: @lightgray;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;

    & a {
        color: @lightgray;
        margin: 0px 10px;
        font-size: 1.8rem;

        &:hover {
            color: @darkgray;
        }
    }
}

.custom-request-quote-container {
    padding: 3rem 1rem;
    clear: both;
    color: @lightgray;
    text-align: center;
    font-size: 1.8rem;

    & .contact-form-container {
        padding: 3rem 0;
    }

    & h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    width: 29%;
}
