// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .home__contact .home__contact-content h2 {
        font-size: 2.5rem;
    }

    .home__contact .home__contact-content {
        padding: 2rem 4rem;
    }

    .main-banner-container .main-banner-wrapper h1 {
        font-size: 3.8rem;
    }

    .home__media .home__media--content {
        font-size: 1.4rem;
        line-height: 2.7rem;
    }

    .coldchain-main-content {
        padding: 3.5rem 1rem;
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
}

@media (max-width: 1366px) {
    .home__solutions .row-solutions .hero-item .hero-item-wrapper .hero-item-description {
        line-height: 1.6rem;
        font-size: 0.85rem;
    }

    .home__contact .home__contact-content {
        padding: 1rem 2rem;
        padding-bottom: 0;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper {
        font-size: 2.8rem;
    }

    .single-product .custom-nav .nav-link {
        padding: 0.8rem 1.2rem;
        font-size: 1rem;
    }

    .the-header .header__button .header__button-group .button__icon {
        padding: 1.25rem 1.25rem;
        font-size: 1rem;
    }

    .the-header .header__button .header__button-group .button__content p:nth-child(2) {
        font-weight: 600;
        font-size: 0.95rem;
        letter-spacing: .5px;
    }

    .home__solutions .row-solutions .active .hero-item-wrapper {
        width: 30vw;
    }
}

@media (max-width: 1280px) {
    .the-header .header__menu .navbar .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .the-header .header__button .header__button-group .button__content p:nth-child(2) {
        font-size: 0.85rem;
    }

    .home__hero .home__hero--content h1 {
        font-size: 2rem;
        line-height: 3rem;
        padding-bottom: 2rem;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 1.3rem;
    }

    .home__media .home__media--content h2 {
        font-size: 1.5rem;
    }

    .home__media .home__media--content {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .home__solutions .home__solutions--title h2 {
        font-size: 1.5rem;
    }

    .home__contact .home__contact-content h2 {
        font-size: 2.2rem;
    }

    .home__contact .home__contact-content {
        padding: 1rem 1rem;
        padding-bottom: 0;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    .contact-form-container .contact-form-submit .btn-submit {
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }

    .company-main-content {
        padding: 2rem 1rem;
        padding-bottom: 2rem;
        font-size: 1.1rem;
        line-height: 2.3rem;
    }

    .company-benefits-container .company-benefits-item {
        padding: 1rem 1.5rem;
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper {
        font-size: 2.1rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper h3 {
        font-size: 2.1rem;
    }

    .company-mission-container .company-mission-content {
        padding: 2.5rem 1rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .company-values-container .company-values-item {
        padding: 1rem 1.5rem;
        line-height: 2rem;
    }

    .custom-woocommerce-nav-container .nav .nav-link {
        padding: 1rem 2.5rem;
        font-size: 1rem;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title,
    .woocommerce ul.products li.product .woocommerce-loop-product__title,
    .woocommerce ul.products li.product h3 {
        font-size: 1.2rem;
    }

    .single-product .custom-tab-content .tab-pane {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .single-product .custom-tab-content .tab-pane-specs {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .single-product .custom-tab-content .tab-pane-specs h2 {
        font-size: 1.1rem;
        padding: 1rem 1rem;
    }

    .coldchain-main-content h1 {
        font-size: 2.1rem;
        margin-bottom: 2rem;
    }

    .coldchain-main-content {
        padding: 2.5rem 1rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .coldchain-products-container .coldchain-product-item h2 {
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }

    .distributor-main-container .distributor-main-content h2 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .distributor-main-container .distributor-main-content {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .distributor-main-container .distributor-main-form {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .distributor-main-container .distributor-main-form h2 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .contact-main-content-wrapper .contact-main-item {
        padding: 1.8rem 2.5rem;
    }

    .contact-main-content-wrapper h2 {
        font-size: 1.8rem;
        padding: 1.3rem;
    }

    .contact-main-content-wrapper .contact-main-item p {
        font-size: 1.2rem;
    }

    .the-header .header__button .header__button-group .button__icon {
        padding: 1.35rem 1rem;
        font-size: 0.9rem;
    }

    .the-header .header__button .header__button-group .button__content {
        padding: 0.5rem 0.5rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper {
        padding: 1rem 1.5rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper .hero-item-description {
        line-height: 1.4rem;
        font-size: 0.75rem;
        padding-bottom: 0;
    }

    .home__solutions .row-solutions .active .hero-item-wrapper {
        width: auto;
    }

}

@media (max-width: 1170px) {
    .the-header .header__button .header__button-group .button__icon {
        padding: 0.8rem 0.8rem;
        font-size: 1.2rem;
    }

    .the-header .header__button .header__button-group .button__content {
        line-height: 1.5rem;
        padding: 0.2rem 0.5rem;
    }

    .the-header .header__menu .navbar .navbar-nav .nav-link {
        font-size: 0.8rem;
        padding: 4px;
    }

    .home__hero .home__hero--content h1 {
        font-size: 1.5rem;
        line-height: 2.7rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 1.1rem;
        padding: .7rem .5rem;
    }

    .home__hero .home__hero--content h3 {
        font-size: 1.5rem;
        margin: .5rem 0;
        margin-bottom: 2rem;
    }

    .home__media .home__media--content h2 {
        font-size: 1.2rem;
    }

    .home__media .home__media--content {
        font-size: 1.1rem;
        line-height: 2.2rem;
    }

    .home__solutions .home__solutions--title {
        padding: 2rem 1rem;
    }

    .home__solutions .home__solutions--title h2 {
        font-size: 1.3rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper h2 {
        font-size: 1.5rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper {
        padding: 1rem 0.5rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper .hero-see-more .icon {
        margin-right: 10px;
    }

    .home__contact .home__contact-content h2 {
        font-size: 1.8rem;
    }

    .social-header a {
        margin-left: 10px;
    }

    .contact-form-container .contact-form-item {
        margin-bottom: 1rem;
    }

    .main-banner-container .main-banner-wrapper h1 {
        font-size: 3rem;
    }

    .company-benefits-container .company-benefits-item picture {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .company-benefits-container .company-benefits-item picture img {
        max-width: 70px;
    }

    .company-values-image img {
        max-width: 70px;
    }

    .custom-woocommerce-breadcrumb {
        padding-left: 1rem;
    }

    .woocommerce div.product .product_title {
        margin: 1rem 0;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .single-product .custom-tab-content .tab-pane {
        padding: 1.5rem 1rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }


    .single-product .custom-nav .nav-link {
        padding: 0.8rem 0.9rem;
        font-size: 0.9rem;
    }

    .custom-request-quote-container {
        font-size: 1.3rem;
    }

    .custom-social-share {
        padding: 0 1rem;
        font-size: 1rem;
    }

    .coldchain-main-content {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }

    .contact-main-content-wrapper {
        max-width: 95%;
    }

}

@media (max-width: 1024px) {
    .home__media {
        padding: 2rem 0;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper .hero-item-description {
        line-height: 1.6rem;
        font-size: 0.9rem;
        padding: 1rem 0;
    }

    .contact-form-container .contact-form-submit .btn-submit {
        padding: 0.9rem 1.5rem;
        font-size: 1.1rem;
    }

    .contact-form-container {
        padding: 0;
        padding-bottom: 1rem;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 1.1rem;
        padding: 0.7rem 0.5rem;
        line-height: 1rem;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .custom-modal {
        padding-left: 1rem;
    }

    .home__hero .home__hero--content h1 {
        font-size: 1.2rem;
        line-height: 2.2rem;
        padding-bottom: 0.5rem;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
        line-height: 1rem;
    }

    .home__hero .home__hero--content h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
        margin-bottom: 1rem;
    }

    .home__hero .home__hero--content .btn-hero {
        padding: .5rem 1rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .home__media .home__media--content h2 {
        font-size: 1rem;
    }

    .home__media .home__media--content {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .home__solutions .home__solutions--title h2 {
        font-size: 1rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper {
        padding: 1.5rem 2rem;
    }

    .home__solutions .row-solutions .active .hero-item-wrapper {
        width: 100%;
    }

    .home__contact .home__contact-content {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .home__contact .home__contact-content h2 {
        font-size: 1.5rem;
    }

    .contact-form-container .contact-form-item input {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .contact-form-container .contact-form-item textarea {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .the-footer .footer-item .footer-sidebar .widget .widgettitle {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .the-footer .footer-item .footer-sidebar .widget {
        line-height: 2.3rem;
        font-size: 0.9rem;
    }

    .the-footer .footer-item .footer-sidebar .menu .menu-item .nav-link {
        font-size: 0.8rem;
        line-height: 1.2rem;
        padding: 1rem 0;
        padding-top: 0;
    }

    .social-header {
        font-size: 1.5rem;
    }

    .footer-copy .footer-copy-content h5 {
        font-size: 0.8rem;
        margin: 0;
    }

    .the-footer {
        padding: 2rem;
        padding-bottom: 0.5rem;
    }

    .company-values-container .company-values-item {
        padding: 1rem 0.5rem;
        line-height: 1.8rem;
    }

    .company-values-container .company-values-item h3 {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .company-benefits-container .company-benefits-item h3 {
        font-size: 1.3rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper {
        font-size: 1.5rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper h3 {
        font-size: 1.5rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper {
        font-size: 1.5rem;
    }

    .company-mission-container .company-mission-content {
        padding: 2.4rem 1rem;
        font-size: 1.1rem;
        line-height: 2.3rem;
    }

    .company-main-content {
        padding: 1rem 1rem;
        padding-bottom: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.9rem;
    }

    .custom-woocommerce-nav-container .nav .nav-link {
        padding: 0.8rem 1.1rem;
        font-size: 0.9rem;
    }

    .woocommerce-products-header {
        padding: 2.5rem 1rem;
        padding-bottom: 2rem;
    }

    .woocommerce-products-header h1 {
        font-size: 1.9rem;
    }

    .single-product .custom-nav .nav-link {
        padding: 0.7rem 0.5rem;
        font-size: 0.8rem;
    }

    .single-product .custom-tab-content .tab-pane {
        padding: 1.5rem 1rem;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .single-product .custom-tab-content .tab-pane-specs h2 {
        font-size: 0.9rem;
        padding: 0.7rem 1rem;
    }

    .custom-request-quote-container h2 {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    .coldchain-main-content h1 {
        font-size: 1.9rem;
    }

    .coldchain-products-container .coldchain-product-item h2 {
        font-size: 1.2rem;
    }

    .distributor-main-container .distributor-main-content {
        font-size: 1rem;
        line-height: 2rem;
        padding-right: 1rem;
    }

    .distributor-main-container .distributor-main-form {
        font-size: 1rem;
        line-height: 2rem;
    }

    .main-banner-container .main-banner-wrapper h1 {
        font-size: 2rem;
    }

    .contact-main-content-wrapper {
        max-width: 100%;
    }

    .contact-main-container .contact-main-form h2 {
        font-size: 1.8rem;
    }

    .contact-main-container .contact-main-form {
        font-size: 1.1rem;
    }

    .contact-main-content-wrapper h2 {
        font-size: 1.3rem;
    }

    .contact-main-content-wrapper .contact-main-item {
        padding: 1.5rem 1.5rem;
    }

    .contact-main-content-wrapper .contact-main-item .fa {
        font-size: 1.4rem;
    }

    .contact-main-content-wrapper .contact-main-item p {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .custom-modal .modal-body .modal-image h2 {
        padding-left: 1rem;
        line-height: 2.6rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider {
        max-width: 80vw;
    }

    .custom-modal .modal-body .modal-image h2 {
        padding-left: 1rem;
        line-height: 2.4rem;
        font-size: 1.6rem;
    }

    .custom-woocommerce-nav-container {
        padding-top: 2rem;
    }

    .custom-woocommerce-nav-container .nav .nav-link {
        padding: 0.8rem 0.5rem;
        font-size: 0.8rem;
    }

    .single-product .custom-nav .nav-link {
        padding: 1rem 1.8rem;
        font-size: 1rem;
    }

    .single-product .custom-tab-content .tab-pane {
        padding: 1.5rem 1rem;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }

    .single-product .custom-tab-content .tab-pane-specs h2 {
        font-size: 1.2rem;
        padding: 1rem 1rem;
    }

    .custom-social-share {
        justify-content: center;
        font-size: 1.3rem;
    }

    .custom-social-share a {
        margin: 0px 15px;
        font-size: 1.8rem;
    }

    .the-footer .footer-item .footer-sidebar .menu .menu-item {
        flex: 0 0 100%;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 767px) {
    .custom-modal .modal-body .modal-image {
        padding-bottom: 0;
    }

    .custom-modal .modal-body .modal-image h2 {
        padding-left: 0;
        line-height: 2.1rem;
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
    }

    .custom-modal .modal-body .modal-image h2 strong {
        display: block;
    }

    .custom-modal .modal-content {
        overflow: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 600px) {
    .the-header .header__button--mobile .header__button-group {
        display: none;
    }

    .header-menu-mobile .header-menu-mobile-phone {
        display: block;
    }

    .home__hero .home__hero--content {
        line-height: 2.5rem;
        text-align: center;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        line-height: 2rem;
        text-align: left;
    }

    .home__media .home__media--content h2 {
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: .5rem;
    }

    .home__solutions .home__solutions--title h2 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper {
        padding: 1.5rem 1rem;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper .hero-item-description {
        line-height: 1.4rem;
        font-size: 0.8rem;
        padding: 1rem 0;
    }

    .home__contact .home__contact-content h2 {
        font-size: 2rem;
    }

    .home__contact .home__contact-content {
        padding: 3rem 1rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;
    }

    .the-footer .footer-item .footer-sidebar {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .social-header {
        text-align: center;
        font-size: 1.5rem;
    }

    .footer-copy-content {
        text-align: center;
        padding: 0.5rem;
    }

    .footer-copy .footer-copy-content-right {
        text-align: center;
    }

    .single-product .custom-nav .nav-link {
        padding: 1rem 1.1rem;
        font-size: 0.9rem;
    }

    .contact-main-container .contact-main-form {
        font-size: 1.1rem;
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 533px) {
    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    .home__hero .home__hero--content h1 {
        font-size: 1.1rem;
        line-height: 2rem;
        text-align: center;
    }

    .home__hero .home__hero--content h3 {
        font-size: 1.2rem;
    }

    .home__media--image img {
        margin: 0 auto;
        margin-bottom: 2rem;
        display: block;
    }

    .home__solutions .row-solutions .hero-item .hero-item-wrapper {
        min-height: 350px;
    }

    .home__solutions .row-solutions .slim .hero-item-wrapper .hidden-title {
        opacity: 0;
    }

    .home__solutions .row-solutions .slim .hero-item-wrapper h2 {
        opacity: 1;
    }

    .home__solutions .row-solutions .slim .hero-item-wrapper .hero-see-more .show {
        display: block;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider {
        max-width: 100vw;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper {
        font-size: 1.1rem;
        padding: 1rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .company-testimonial-slider .testimonial-item-wrapper h3 {
        font-size: 1.1rem;
    }

    .company-testimonial-slider-container .company-testimonial-slider-wrapper .swiper-pagination {
        bottom: 10px;
    }

    .company-mission-container .company-mission-content h2 {
        font-size: 1.9rem;
        margin-bottom: 2rem;
    }

    .company-mission-container .company-mission-content {
        padding: 3rem 0.5rem;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .single-product .custom-tab-content .tab-pane {
        padding: 1rem 1rem;
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .single-product .custom-tab-content .tab-pane-specs h2 {
        font-size: 1rem;
        padding: 0.7rem 1rem;
    }

    .custom-request-quote-container {
        font-size: 1rem;
        padding: 1rem;
    }

    .custom-request-quote-container .contact-form-container {
        padding: 1rem 0;
    }

    .custom-modal .modal-body .modal-image h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 424px) {
    .home__solutions .home__solutions--title h2 {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    .home__hero .home__hero--content h1 {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }

    .home__hero .home__hero--content .content-desc .hero-item {
        font-size: 0.7rem;
        line-height: 1rem;
        padding-right: 0;
    }

    .home__contact .home__contact-content h2 {
        font-size: 1.5rem;
    }

    .single-product .custom-nav .nav-link {
        padding: 0.8rem 0.7rem;
        font-size: 0.8rem;
    }

    .custom-social-share {
        font-size: 1rem;
    }

    .custom-social-share a {
        margin: 0px 10px;
        font-size: 1.5rem;
    }

    .custom-request-quote-container h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .custom-request-quote-container {
        font-size: 0.9rem;
    }

    .single-product .woocustom-main-container {
        padding: 1.5rem 0;
    }
}

@media (max-width: 414px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}