// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Poppins', sans-serif;
@black: #000000;
@white: #ffffff;
@darkblue: #0F75BC;
@lightblue: #2FA0EE;
@green: #00CE37;
@darkgray: #3F3F3F;
@lightgray: #939598;
@hovergray: #c1c1c1;
@lightbg: #F4F4F4;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    color: @darkgray;
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 85vh;
}

@media (min-width: 1340px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1340px;
    }
}

.main-banner-container {
    position: relative;

    & .main-banner-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .display(flex);
        .align-items(center);
        .justify-content(center);

        & h1 {
            color: @white;
            font-size: 4.5rem;
            font-weight: 600;
        }
    }
}

.social-header {
    font-size: 2rem;
    text-align: right;

    & a {
        color: @white;
        margin-left: 20px;
    }
}

.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @darkblue;
    border-color: @darkblue transparent @darkblue transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swal-text {
    text-align: center;
}



/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.container__header {
    background: @white;
}

.the-header {
    padding: 1.5rem 0;

    & .header__logo {
        & .navbar-brand {
            margin: 0;
            padding: 0;
        }

        & .img-logo {
            max-width: 100%;
        }
    }

    & .header__menu {
        & .navbar {
            padding: 0;
        }

        & .navbar .navbar-nav .nav-link {
            color: @lightgray;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 400;
            padding: 0 0.4rem;

            &:hover {
                color: @darkgray;
            }
        }

        & .active {
            border-bottom: 2px solid @darkblue;
        }
    }

    & .header__button {
        & .header__button-group {
            color: @white;
            .display(flex);
            .align-items(center);
            .justify-content(flex-end);
            flex-wrap: wrap;

            & .button__icon {
                background: @darkblue;
                border-right: 1px solid @white;
                padding: 0.85rem 1.4rem;
                font-size: 1.5rem;
                .transition(all .3s ease-in-out);
            }

            & .button__content {
                background: @darkblue;
                line-height: 1.5rem;
                padding: 0.5rem 1rem;
                text-align: center;
                .transition(all .3s ease-in-out);

                & p {
                    margin: 0;

                    &:nth-child(1) {
                        font-size: .75rem;
                    }

                    &:nth-child(2) {
                        font-weight: 600;
                        font-size: 1.05rem;
                        letter-spacing: 1px;
                    }
                }
            }

            &:hover {
                & .button__icon {
                    background: @lightblue;
                }

                & .button__content {
                    background: @lightblue;
                }
            }
        }
    }

    & .header__button--mobile {
        .display(flex);
        .align-items(center);
        .justify-content(flex-end);

        & .menu-btn-opener {
            width: 48px;
            height: 48px;
            padding: 0.5rem;
            margin-left: 10px;
            border: 1px solid @lightgray;
            position: relative;
            cursor: pointer;
            .transition(all .3s ease-in-out);

            & span {
                display: block;
                background: @black;
                position: absolute;
                height: 1px;
                width: 35px;
                left: 5.5px;
                .transition(all .3s ease-in-out);

                &:nth-child(1) {
                    top: 12px;
                }

                &:nth-child(2) {
                    top: 22px;
                }

                &:nth-child(3) {
                    top: 32px;
                }
            }

            &:hover {
                background: @hovergray;
            }
        }

        & .opened {
            & span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 22px !important;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 22px !important;
                }
            }
        }

        & .header__button-group {
            color: @white;
            .display(inline-flex);
            .align-items(center);
            .justify-content(flex-end);
            flex-wrap: wrap;

            & .button__icon {
                background: @darkblue;
                border-right: 1px solid @white;
                padding: 0.35rem 1rem;
                font-size: 1.5rem;
                .transition(all .3s ease-in-out);
            }

            & .button__content {
                background: @darkblue;
                line-height: 1.5rem;
                padding: 0rem 0.5rem;
                text-align: center;
                .transition(all .3s ease-in-out);

                & p {
                    margin: 0;

                    &:nth-child(1) {
                        font-size: .75rem;
                    }

                    &:nth-child(2) {
                        font-weight: 600;
                        font-size: 0.85rem;
                        letter-spacing: 1px;
                    }
                }
            }

            &:hover {
                & .button__icon {
                    background: @lightblue;
                }

                & .button__content {
                    background: @lightblue;
                }
            }
        }
    }
}

/*** MOBILE HEADER ***/
.header-menu-mobile {
    & .menu {
        list-style: none;
        padding: 0 1rem;
        text-align: center;

        & .nav-link {
            color: @lightgray;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 400;
            padding: 0.5rem 1rem;

            &:hover {
                color: @darkgray;
            }
        }
    }

    & .header-menu-mobile-phone {
        display: none;
        margin: 1rem;
        text-align: center;
    }


    & .header__button-group {
        color: @white;
        .display(inline-flex);
        .align-items(center);
        .justify-content(flex-end);
        flex-wrap: wrap;

        & .button__icon {
            background: @darkblue;
            border-right: 1px solid @white;
            padding: 0.35rem 1rem;
            font-size: 1.5rem;
            .transition(all .3s ease-in-out);
        }

        & .button__content {
            background: @darkblue;
            line-height: 1.5rem;
            padding: 0rem 0.5rem;
            text-align: center;
            .transition(all .3s ease-in-out);

            & p {
                margin: 0;

                &:nth-child(1) {
                    font-size: .75rem;
                }

                &:nth-child(2) {
                    font-weight: 600;
                    font-size: 0.85rem;
                    letter-spacing: 1px;
                }
            }
        }

        &:hover {
            & .button__icon {
                background: @lightblue;
            }

            & .button__content {
                background: @lightblue;
            }
        }
    }
}

.header-menu-mobile-hidden {
    display: none;
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: @darkblue;
    color: @white;
    padding: 3.5rem;
    padding-bottom: 1rem;

    & .footer-line {
        border-top: 1px solid @white;
    }

    & .footer-item {
        & .footer-sidebar {
            list-style: none;
            padding: 0;

            & .widget {
                line-height: 3rem;
                font-size: 1rem;

                & a {
                    color: @white;

                    &:hover {
                        color: @hovergray;
                    }
                }

                & .fa {
                    margin-right: 10px;
                }

                & .widgettitle {
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                }
            }

            & .menu {
                .display(flex);
                .align-items(flex-start);
                .justify-content(flex-start);
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                line-height: 2.5rem;

                & .menu-item {
                    flex: 0 0 48%;

                    & .nav-link {
                        color: @white;
                        font-size: 1rem;
                        padding: 0;
                        text-transform: uppercase;

                        &:hover {
                            color: @hovergray;
                        }
                    }
                }
            }
        }
    }
}

/*** FOOTER COPY ***/
.footer-copy {
    background: @darkblue;
    color: @white;
    padding: 1rem;
    padding-bottom: 2rem;

    & .footer-copy-content {
        & h5 {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
        }

        & a {
            color: @white;
        }
    }

    & .footer-copy-content-right {
        text-align: right;
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* HOME: HERO SECTION */
.home__hero {
    padding: 2rem;
    padding-bottom: 0;
    background-color: linear-gradient(0deg, rgba(60, 63, 63, 0.3), rgba(63, 63, 63, 0.3));
    background-size: cover;
    background-position: center center;

    & .home__hero--content {
        color: @white;
        line-height: 2.5rem;

        & h1 {
            font-size: 2.5rem;
            text-align: justify;
            line-height: 3.5rem;
            padding-bottom: 2rem;
            font-weight: 400;

            & strong {
                font-weight: 600;
            }
        }

        & .content-desc {
            & .hero-item {
                padding: 0.7rem 1rem;
                padding-right: 0;
                font-size: 1.5rem;
                font-weight: 400;

                &:before {
                    .filter(brightness(1.5));
                    content: ' ';
                    background: url(../images/check-icon.png);
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    margin-top: -5px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
        }

        & h3 {
            font-size: 1.75rem;
            font-weight: 600;
            margin: 2rem 0;
        }

        & .btn-hero {
            background: @darkblue;
            color: @white;
            padding: 1rem;
            border-radius: 0;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 2rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @lightblue;
            }
        }
    }
}

/* HOME: MEDIA SECTION */
.home__media {
    padding: 3rem 0;

    & .home__media--content {
        color: @lightgray;
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;

        h2 {
            color: @darkgray;
            font-size: 1.7rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
}

/* HOME: SOLUTIONS SECTION */
.home__solutions {
    background: @lightbg;
    padding: 1.5rem 1rem;
    padding-bottom: 3.5rem;

    & .home__solutions--title {
        padding: 3rem 1rem;
        text-align: center;

        & h2 {
            font-size: 1.8rem;
            font-weight: 400;

            & strong {
                font-weight: 600;
            }
        }
    }

    & .row-solutions {
        & .hero-item {
            .transition(width .3s ease-in-out);

            & .hero-item-wrapper {
                min-height: 450px;
                padding: 3rem 1.5rem;
                cursor: pointer;
                .transition(all .3s ease-in-out);

                & h2 {
                    font-size: 2rem;
                    color: @white;
                    position: relative;
                    margin-bottom: 0;

                    &:after {
                        content: ' ';
                        background: @white;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        height: 3px;
                        width: 50px;
                    }

                }

                & .hero-item-description {
                    color: @white;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    padding: 2rem 0;
                    font-weight: 600;
                    line-height: 1.8rem;
                    font-size: 1rem;
                    .transition(opacity .2s ease-in-out);
                }

                & .hidden-title {
                    opacity: 0;
                    position: absolute;
                    left: -70px;
                    top: 230px;
                    width: 235px;
                    .transform(rotate(-90deg));

                    & h3 {
                        color: @white;
                        font-size: 2rem;
                        font-weight: 600;
                    }
                }

                & .hero-see-more {
                    color: @white;
                    position: absolute;
                    bottom: 1.5rem;
                    left: 1.5rem;
                    .display(flex);
                    align-items: center;
                    justify-content: flex-start;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    letter-spacing: 1px;

                    & .hidden {
                        display: none;
                    }

                    &:hover {
                        color: @hovergray;
                    }

                    & .icon {
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        position: relative;
                        border: 2px solid @white;
                        border-radius: 100%;
                        margin-right: 20px;
                        cursor: pointer;
                        .transition(all .3s ease-in-out);

                        & span {
                            position: absolute;
                            background: @white;
                            height: 2px;
                            width: 20px;
                            top: 16.5px;
                            left: 8px;
                            .transition(all .3s ease-in-out);

                            &:nth-child(2) {
                                .transform(rotate(90deg));
                            }
                        }

                        &:hover {
                            & span {
                                .transform(rotate(90deg));

                                &:nth-child(2) {
                                    .transform(rotate(180deg));
                                }
                            }
                        }
                    }
                }
            }
        }

        & .active {
            .hero-item-wrapper {
                .transition(all .3s ease-in-out);
                width: 31vw;

                & .hero-item-description {
                    width: auto;
                    height: auto;
                    opacity: 1;
                }

                & .hero-see-more {
                    & .show {
                        display: none;
                    }

                    & .hidden {
                        display: inline-block;
                    }

                    & .icon {
                        & span {
                            &:nth-child(2) {
                                .transform(rotate(0deg));
                            }
                        }

                        &:hover {
                            & span {
                                .transform(rotate(180deg));

                                &:nth-child(2) {
                                    .transform(rotate(180deg));
                                }
                            }
                        }
                    }
                }
            }


        }

        & .slim {
            & .hero-item-wrapper {
                & h2 {
                    opacity: 0;
                }

                & .hidden-title {
                    opacity: 1;
                }

                & .hero-see-more {
                    & .show {
                        display: none;
                    }
                }
            }
        }
    }
}

/* HOME: CONTACT SECTION */
.home__contact {
    & .home__contact-image {
        & img {
            width: 100%;
        }
    }

    & .home__contact-content {
        padding: 3rem 6rem;
        font-size: 1.4rem;
        line-height: 2.2rem;

        & h2 {
            font-size: 2.8rem;
            margin-bottom: 1rem;
        }
    }
}

.contact-form-container,
.modal-form-container {
    padding: 1rem 0;

    & .contact-form-item {
        margin-bottom: 2rem;

        & input {
            background: @white;
            border: 1px solid #F2F2F2;
            border-bottom: 3px solid #939598;
            border-radius: 0;
            padding: 0.7rem 1rem;
            height: auto;
        }

        & textarea {
            background: @white;
            border: 1px solid #F2F2F2;
            border-bottom: 3px solid #939598;
            border-radius: 0;
            padding: 0.7rem 1rem;
        }
    }

    & .contact-form-submit {
        & .btn-submit {
            background: @darkblue;
            color: @white;
            text-align: center;
            width: 100%;
            padding: 1.5rem 2rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 0;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @lightblue;
            }
        }
    }
}

.custom-danger {
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin: 0;
}

.contact-form-response {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 0;
}

/* --------------------------------------------------------------
4.- COMPANY
-------------------------------------------------------------- */
/* COMPANY: MAIN CONTAINER */
.company-main-content {
    color: @lightgray;
    padding: 3rem 1rem;
    padding-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;


    & h2 {
        color: @darkgray;
        font-weight: 600;
        padding: 2rem 1rem;
    }
}

.company-benefits-container {
    background: @lightbg;
    padding: 5rem 1rem;

    & .company-benefits-item {
        text-align: center;
        color: @lightgray;
        padding: 1rem 2rem;

        & picture {
            border: 5px solid @darkblue;
            border-radius: 100%;
            display: inline-block;
            padding: 2rem;
            margin-bottom: 2rem;
        }

        & h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: @darkgray;
        }
    }
}

.company-testimonial-slider-container {
    position: relative;

    & img {
        width: 100%;
    }

    & .company-testimonial-slider-wrapper {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .display(flex);
        .align-items(center);
        .justify-content(center);

        & .swiper-pagination {
            bottom: 30px;
        }

        & .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            margin: 0 1rem;
            background: #fff;
            opacity: .7;
            cursor: pointer;
        }

        & .swiperpagination-bullet-active {
            opacity: 1;
        }

        & .swiper-pagination-bullet:hover {
            opacity: 1 !important;
            background: @lightblue  !important;
        }

        & .company-testimonial-slider {
            max-width: 50vw;

            & .testimonial-item-wrapper {
                color: @white;
                text-align: center;
                font-size: 3.3rem;
                font-weight: 600;
                min-height: 100%;

                & h3 {
                    font-size: 3rem;
                    font-weight: 600;
                }
            }

        }
    }
}

.company-mission-container {
    background: @darkblue;
    color: @white;

    & .company-mission-content {
        padding: 3.5rem 1rem;
        text-align: center;
        font-size: 1.7rem;
        line-height: 3rem;

        & h2 {
            font-size: 2.3rem;
            margin-bottom: 2rem;
        }
    }
}

.company-values-container {
    padding: 5rem 1rem;

    & .company-values-title {
        text-align: center;
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    & .company-values-item {
        text-align: center;
        color: @lightgray;
        padding: 1rem 3rem;
        line-height: 2.2rem;

        & picture {
            border: 5px solid @darkblue;
            border-radius: 100%;
            display: inline-block;
            padding: 2rem;
            margin-bottom: 2rem;
        }

        & h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: @darkgray;
            margin-bottom: 1.5rem;
        }
    }
}


.distributor-main-container {
    padding: 4rem 1rem;

    & .distributor-main-content {
        color: @lightgray;
        font-size: 1.6rem;
        padding-right: 5rem;

        & h2 {
            color: @darkgray;
            font-size: 2.1rem;
            margin-bottom: 1.5rem;
            line-height: 3.4rem;
            font-weight: 600;
        }
    }

    & .distributor-main-form {
        color: @lightgray;
        font-size: 1.5rem;
        line-height: 2.5rem;

        & h2 {
            color: @darkgray;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    }
}

.contact-main-container {
    padding: 4rem 1rem;

    & .contact-main-form {
        color: @lightgray;
        font-size: 1.4rem;

        & h2 {
            color: @darkgray;
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }
    }
}

.contact-main-content-wrapper {
    margin: 0 auto;
    margin-right: 0;
    max-width: 85%;
    border: 2px solid @darkblue;

    & h2 {
        background: @darkblue;
        color: @white;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin: 0;
        padding: 1.5rem;
        text-transform: uppercase;
    }

    & .contact-main-item {
        border-top: 2px solid @darkblue;
        .display(flex);
        .align-items(center);
        .justify-content(flex-start);
        flex-wrap: wrap;
        padding: 2.2rem 5rem;

        & p {
            color: @lightgray;
            flex: 0 0 80%;
            margin-bottom: 0;
            font-size: 1.3rem;
        }

        & a {
            color: @lightgray;
        }

        & .fa {
            color: @darkblue;
            font-size: 2rem;
            flex: 0 0 15%;
        }
    }
}

.page-template-page-coldchain {
    background: @lightbg;
}

.coldchain-main-content {
    color: @lightgray;
    padding: 5rem 1rem;
    text-align: center;
    font-size: 2.1rem;
    line-height: 3.3rem;

    & h1 {
        color: @darkgray;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        font-weight: 600;
    }
}

.coldchain-products-container {
    & .coldchain-product-item {
        margin-bottom: 3rem;

        & img {
            width: 100%;
        }

        & h2 {
            color: @lightgray;
            position: relative;
            font-weight: 600;
            font-size: 2rem;
            margin-top: 3rem;

            &:before {
                content: '';
                position: absolute;
                background: @darkblue;
                top: -20px;
                left: 0;
                width: 40px;
                height: 3px;
            }
        }
    }
}

.swiper-container {
    overflow: hidden;
}

.btn-fixed-modal {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 16px grey;
    padding: 0.9rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: @lightblue;

    &:focus {
        outline: 0;
        box-shadow: 2px 2px 16px grey;
    }

    &:clicked {
        outline: 0;
        box-shadow: 2px 2px 16px grey;
    }
}

.custom-modal {
    & .modal-content {
        position: relative;
        overflow: initial;

        & button.close {
            position: absolute;
            float: none;
            top: -15px;
            right: -10px;
            background: black;
            padding: 6px 9px 4px 9px;
            border-radius: 100%;
            opacity: 1;
            color: white;
            font-weight: 100;
            z-index: 99;
        }
    }

    & .modal-body {
        padding: 0;

        & .modal-image {
            .display(flex);
            .align-items(flex-start);
            .justify-content(space-between);
            flex-flow: column;
            padding-bottom: 5%;
            background: #F4F4F4;

            & h2 {
                padding-left: 1.4rem;
                padding-top: 2.5rem;
                line-height: 2.6rem;
                font-size: 1.9rem;

                & strong {
                    color: @lightblue;
                }
            }

        }

        & .modal-form {
            padding: 20px 20px 0 20px !important;

            & .modal-form-container {
                padding: 1rem 0 0 0;
            }

            & .modal-form-container .contact-form-item {
                margin-bottom: 15px;
            }

            & .contact-form-submit .btn-submit {
                padding: 1rem 2rem;
            }

            & .custom-danger {
                font-size: 0.7rem;
            }
        }
    }

    & .modal-lg {
        max-width: 880px;
    }
}